* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf

*.ascl binary
*.asclv binary
*.mp3 binary
*.mp4 binary
*.png binary
*.jpg binary
*.jpeg binary
